body {
  background: white url("images/bg-background.jpg") no-repeat right bottom;
  margin: 25px 25px;
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #143d67;
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #1073cb;
}
a {
  background-color: #f47221;
  border: none;
  color: #143d67;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
a:hover {
  background-color: #143d67;
  color: #f47221;
}
.active {
  background-color: #143d67;
  color: #f47221;
}
